* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: cursive;
}
.body{
  background-image: url("bg2.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}	


.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #112442;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;

}
.menu li:hover {
 background-color: #163463;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative; 
}
.dropdown {
 background-color: #112442;
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #163463;
}
.services:hover .dropdown {
 display: block;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}
.intro{
	padding: 10rem;
	color: white;
	width: 50rem;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.7);
}